.DS_Store
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

download/*
temporary/*
catalog/*

*.clpprj
*.project
.settings/*

*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

application/config/config.php
application/config/database.php
.htaccess